/*
Spacing utils
*/
.top10 {
	margin-top: 10px !important;
}
.top20 {
	margin-top: 20px !important;
}
.top30 {
	margin-top: 30px  !important;
}
.bot10 {
	margin-bottom: 10px;
}
.bot20 {
	margin-bottom: 20px !important;
}
.bot30 {
	margin-bottom: 30px;
}
.left10 {
	margin-left: 10px;
}
.left20 {
	margin-left: 20px;
}
.left30 {
	margin-left: 30px;
}
.right10 {
	margin-right: 10px;
}
.right20 {
	margin-right: 20px;
}
.right30 {
	margin-right: 30px;
}

.green {
	color: green;
}

.red {
	color: red;
}

#home{
	margin: -10px 0px 0px 0px;
	height: 40px;
	width: 40px;
}

.container
{
    min-height: 90% !important;
    min-height: calc(100% - 80px) !important;
}

#footer {
	width: 100%;
    border-width: 0 0 1px;
    background-color: black;
    border-color: #080808;
	min-height: 50px;
    border: 1px solid transparent;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-top: 30px;
}

#footer-content {
	margin-top: 15px;	
}

label {
min-width: 120px;
}

.form-group-adherent {
	background: black;
	height: 46px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-top: 12px;
}

.form-group-entreprise {
	background: black;
	height: 46px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-top: 12px;
	padding-left: 10px;
	width: 98%;
}

.form-group-syndicat {
	background: black;
	height: 46px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-top: 12px;
	padding-left: 10px;
	width: 100%;
}

.icon-search-overide {
	color: white !important;
	margin-left: 10px;
}

.icon-plus-overide {
	color: white !important;
	text-align: right;
}

.link {
	text-decoration: underline;
	color: black;
}

.link:hover {
	color: grey;
}

#login-form {
	margin-top: 15%;
	min-height: 100%;
}

#logo_login {
	margin-bottom: 50px;
}

hr {
	border-top: 1px solid #8c8b8b;
}


/* Overdide bootstrap css to keep nav red */
/* nav { */
/* 	background-color: red !important; */
/* 	border-color: red !important; */
/* } */

/* .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover { */
/*     color: white !important; */
/*     background-color: red !important; */
/* } */

/* .navbar-inverse .navbar-nav > li > a { */
/*     color: white !important; */
/* } */