#footer {
	width: 100%;
    border-width: 0 0 1px;
    background-color: #222;
    border-color: #080808;
	min-height: 50px;
    border: 1px solid transparent;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}

#home{
	margin: -10px 0px 0px 0px;
	height: 40px;
	width: 40px;
}