<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
		th:include="fragments/menu :: menu"></nav>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Ajouter entreprise</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/ud-gest/show-entreprise-search}">Rechercher entreprise</a></li>
					<li class="active">Ajouter entreprise</li>
				</ol>
			</div>
		</div>
		<div class='row'>
			<form class="form-horizontal" method="post" th:object="${entreprise}" th:action="@{/ud-gest/save-entreprise}">
				<div class='row'>
					<div class="col-lg-12 form-group-adherent">
						<p class="fa fa-inverse">Informations générales</p>
					</div>
				</div>
				<div class="alert alert-danger" role="alert" th:if="${exist}">
					<p>
		 				<span class="glyphicon glyphicon-alert"></span>
		 				<span class="left10" th:text="${exist}"></span>
		 			</p>
				</div>
				<div class='row'>
					<div class="col-lg-6">
						<div class="form-group required" th:classappend="${#fields.hasErrors('libelle')} ? has-error">
							<label for="libelle" class="col-sm-2 control-label">Libellé :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:field="*{libelle}" id="libelle_syndicat"></input>
								<span th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group">
							<label for="date_election" class="col-sm-2 control-label">Elections :</label>
							<div class="col-sm-8">
								<input th:type="date" class="form-control" name="date_election" id="date_election"></input>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('tel')} ? has-error">
							<label for="tel" class="col-sm-2 control-label">Téléphone :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:field="*{tel}" id="tel_entreprise"></input>
								<span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('fax')} ? has-error">
							<label for="fax" class="col-sm-2 control-label">Fax :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:field="*{fax}" id="fax_entreprise"></input>
								<span th:if="${#fields.hasErrors('fax')}" th:errors="*{fax}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('mail')} ? has-error">
							<label for="mail" class="col-sm-2 control-label">Mail :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:field="*{mail}" id="mail_entreprise"></input>
								<span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('siteWeb')} ? has-error">
							<label for="web" class="col-sm-2 control-label">Web :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:field="*{siteWeb}" id="web_entreprise"></input>
								<span th:if="${#fields.hasErrors('siteWeb')}" th:errors="*{siteWeb}" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group" th:classappend="${#fields.hasErrors('numeroRue')} ? has-error">
							<label for="num_rue" class="col-sm-2 control-label">N° :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:field="*{numeroRue}" id="num_rue_entreprise"></input>
								<span th:if="${#fields.hasErrors('numeroRue')}" th:errors="*{numeroRue}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('libelleRue')} ? has-error">
							<label for="rue" class="col-sm-2 control-label">Rue :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:field="*{libelleRue}" id="rue_entreprise"></input>
								<span th:if="${#fields.hasErrors('libelleRue')}" th:errors="*{libelleRue}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('cp')} ? has-error">
							<label for="cp" class="col-sm-2 control-label">Cp :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:field="*{cp}" id="cp_entreprise"></input>
								<span th:if="${#fields.hasErrors('cp')}" th:errors="*{cp}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group" th:classappend="${#fields.hasErrors('ville')} ? has-error">
							<label for="ville" class="col-sm-2 control-label">Ville :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" th:field="*{ville}" id="ville_entreprise"></input>
								<span th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group" >
							<label for="ville" class="col-sm-2 control-label"></label>
							<div class="col-sm-8 text-right">
								<button type="submit" class="btn btn-success btn-md">Ajouter</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
<div th:include="fragments/footer :: footer"></div>
</html>
