<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
		th:include="fragments/menu :: menu"></nav>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Détails de l'union dépratementale</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/ud-gest/show-entreprise-search}">Rechercher une union dépratementale</a></li>
					<li class="active">Détails de l'union dépratementale</li>
				</ol>
			</div>
		</div>
		<div class='row'>
			<form class="form-horizontal" role="form" th:object="${ud}" th:action="@{/ud-gest/update-ud}" method="post">
				<div class='row'>
					<div class="col-lg-12 form-group-adherent">
						<p class="fa fa-inverse">Informations Générales</p>
					</div>
				</div>
				<input type="hidden" th:field="*{id}"></input>
				<div class='row'>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="nom" class="col-sm-2 control-label">Libelle :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="libelle" id="libelle_entreprise" th:field="*{libelle}" ></input>
							</div>
						</div>
						<div class="form-group">
							<label for="dob" class="col-sm-2 control-label">Téléphone :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="tel" id="tel" th:field="*{tel}"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="tel" class="col-sm-2 control-label">Fax :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="fax" id="fax" th:field="*{fax}"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="mail" class="col-sm-2 control-label">Mail :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="mail"	id="mail" th:field="*{mail}"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="web" class="col-sm-2 control-label">Site web :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="web"	id="web" th:field="*{siteWeb}"></input>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="num_rue" class="col-sm-2 control-label">N° :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="num_rue_entreprise" id="num_rue_entreprise" th:field="*{numeroRue}"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="rue" class="col-sm-2 control-label">Rue :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="rue_entrepise" id="rue_entreprise" th:field="*{rue}"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="cp" class="col-sm-2 control-label">Cp :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="cp_entreprise" id="cp_entreprise" th:field="*{cp}"></input>
							</div>
						</div>
						<div class="form-group">
							<label for="ville" class="col-sm-2 control-label">Ville :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="ville_entreprise"	id="ville_entreprise" th:field="*{ville}"></input>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10 text-right">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-8 text-right">
								<button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#deleteModal">Supprimer</button>
								<button type="submit" class="btn btn-success btn-md">Modifier</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<form method="post" th:action="@{/ud-gest/delete-ud}">
				<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Supprimer l'utilisateur" aria-hidden="true">
					<div class="modal-dialog vertical-align-center" role="document">
						<div class="modal-content">
							<div class="modal-body text-center top20">
								<span class="glyphicon glyphicon-alert fa-5x orange bot20"></span>
								<p class="top20 text-center">Etes-vous sûr de vouloir supprimer définitivement l'union départementale ?</p>
								<input type="hidden" name="id" th:value="${ud.id}"></input>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-success btn-md" data-dismiss="modal">Annuler</button>
								<button type="submit" class="btn btn-danger btn-md">Confirmer</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="row">
					<div class="col-lg-12 form-group-adherent">
						<p class="fa fa-inverse">Syndicats</p>
					</div>
			</div>
			<div class="row">
				<table id="table_syndicat" class="table table-striped table-bordered">
					<thead>
						<tr>
							<td>Libelle</td>
							<td>Ville</td>
							<td>Tel</td>
							<td>Fax</td>
							<td>Mail</td>
							<td>Site web</td>
							<td>-</td>
							<td>--</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="syndicat : ${ud.syndicats}">
							<td th:text="${syndicat.libelle}"></td>
							<td th:text="${syndicat.ville}"></td>
							<td th:text="${syndicat.tel}"></td>
							<td th:text="${syndicat.fax}"></td>
							<td th:text="${syndicat.mail}"></td>
							<td th:text="${syndicat.siteWeb}"></td>
							<td class="center-td">
								<a th:href="@{'/ud-gest/show-syndicat-detail/'+ ${syndicat.id}}"><span class="glyphicon glyphicon-search"></span></a>
							</td>
							<td class="center-td">
								<a id="showModal" data-toggle="modal" data-target="#modalSyndicat" th:onclick="'showModal(' + ${syndicat.id} + ')'" class="glyphicon glyphicon-trash red"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="modalSyndicat" class="modal fade" tabindex="-1" role="dialog">
			    <div class="modal-dialog">
			        <div class="modal-content">
			            <div class="modal-body text-center top20">
			            	<input id="idSyndicat" type="hidden"/>
							<span class="glyphicon glyphicon-alert fa-5x orange bot20"></span>
							<p class="top20 text-center">Etes-vous sûr de retirer le syndicat de l'union départementale ?</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success btn-md" data-dismiss="modal">Annuler</button>
							<button type="button" class="btn btn-danger btn-md" onclick="deleteEntity()">Confirmer</button>
						</div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</body>
<div th:include="fragments/footer :: footer"></div>
<script th:inline="javascript" type="text/javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
		    $('#table_syndicat').dynatable();
			$.dynatableSetup({
				inputs: {
					queryEvent: 'keyup'
				 }
			});
		});
		$('tr').each(function(){
		    $(this).find('td').eq(6).removeAttr('style');
		    $(this).find('td').eq(6).addClass('text-center');
		    $(this).find('td').eq(7).removeAttr('style');
		    $(this).find('td').eq(7).addClass('text-center');
		});
		
		function showModal(id) {
			$('#idSyndicat').val(id);
		};
		
		function deleteEntity() {
		    var url = "/ud-gest/remove-syndicat-from-ud";
		    $.post(url, {id:$("#idSyndicat").val()}, function() {
		    	window.location.replace("/ud-gest/show-ud-detail/"+/*[[${ud.id}]]*/);
		    });
		}
	/*]]>*/		
</script>
</html>
