<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
	<div id="footer">
		<p id="footer-content" class="fa-inverse text-center ">Copyright &copy; ud-gest 2018 powered by vpnr</p>
	</div>

	<!-- /Footer -->

	<!-- jQuery -->
	<script src="js/jquery.js" th:src="@{/js/jquery.min.js}"></script>
	
	<!-- jQueryUI -->
	<script src="js/jquery.js" th:src="@{/js/jquery-ui.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

	<!-- Dynatble Core Javascript -->
	<script src="js/jquery.dynatable.js" th:src="@{/js/jquery.dynatable.js}"></script>

</footer>
</html>