<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
		<div id="footer-content">
			<p class="fa-inverse footer-titre text-center">Spa Vitoha</p>
			<p class="fa-inverse text-center">5 place du Marché Neuf</p>
			<p class="fa-inverse text-center">91190 Gif Sur Yvette</p>
			<p class="fa-inverse text-center">01.60.11.76.60</p>
			<p class="fa-inverse text-center">contact@spavitoha.fr</p>
			<p class="fa-inverse text-center ">Copyright &copy; Spa Vitoha 2017</p>
		</div>
	
	<!-- /Footer -->

	<!-- jQuery -->
	<script src="js/jquery.js"  th:src="@{/js/jquery.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

	<!-- Script to Activate the Carousel -->
	<!--     <script> -->
	<!--      $('.carousel').carousel({ -->
	<!--          interval: 5000 //changes the speed -->
	<!--      }) -->
	<!--     </script> -->
	</footer>
</html>