<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<!-- Custom css -->
	<link href="css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	
	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	
	<!-- Modern business CSS -->
	<link href="css/modern-business.css" rel="stylesheet" th:href="@{/css/modern-business.css}"/>
	
	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/font-awesome/css/font-awesome.min.css}"/>
	
	<!-- Dynatable CSS -->
	<link href="/css/jquery.dynatable.css" rel="stylesheet" type="text/css" th:href="@{/css/jquery.dynatable.css}"/>
	
	<!-- jquery ui CSS -->
<!-- 	<link href="/css/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.theme.min.css}"/> -->
	
<!-- 	easy autocomplete pluggin css-->
	<link href="/css/easy-autocomplete.min.css" rel="stylesheet" type="text/css" th:href="@{/css/easy-autocomplete.min.css}"/>
	
<!-- 	easy autocomplete pluggin css-->	
	<link href="/css/easy-autocomplete.theme.min.css" rel="stylesheet" type="text/css" th:href="@{/css/easy-autocomplete.themes.min.css}"/>
	
	<title th:text="ud-gest-web"></title>
</head>
</html>