<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<!-- Custom css -->
	<link href="css/header.css" rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
	
	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	
	<!-- Custom CSS -->
	<link href="css/modern-business.css" rel="stylesheet" th:href="@{/css/modern-business.css}"/>
	
	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/font-awesome/css/font-awesome.min.css}"/>
	<title th:text="ud-gest-web"></title>
</head>
</html>