<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<nav th:fragment="menu">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html" th:href="@{/ud-gest/show-index}">
					<img th:src="@{/images/accueil_logo_02.png}" name="image" id="home" th:onmouseover="@{/images/accueil_logo_01.png}" th:onmouseout="@{/images/accueil_logo_02.png}" />
<!-- 					<img th:src="@{/images/accueil_logo_02.png}" name="image" id="home"/> -->
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/ud-gest/show-adherent-search}">Adherent</a></li>
					<li><a th:href="@{/ud-gest/show-entreprise-search}">Entreprise</a></li>
					<li><a th:href="@{/ud-gest/show-syndicat-search}">Syndicat</a></li>
					<li><a th:href="@{/ud-gest/show-section-search}">Section</a></li>
					<li><a th:href="@{/ud-gest/show-federation-search}">Fédération</a></li>
					<li><a th:href="@{/ud-gest/show-ud-search}">Union départementale</a></li>
					<li sec:authorize="hasAuthority('ADMIN')" class="dropdown"><a href="#" class="dropdown-toggle white"
						data-toggle="dropdown">Administration<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/ud-gest/admin/show-user-search}">Gestion des utilisateurs</a></li>
							<li><a th:href="@{/ud-gest/admin/show-mandat-gestion}">Gestion des mandats</a></li>
							<li><a th:href="@{/ud-gest/admin/show-parametre}">Paramètres</a></li>
						</ul>
					</li>
					<li sec:authorize="isAnonymous()"><a th:href="@{/ud-gest/show-login}">Se connecter</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/ud-gest/logout}">Se déconnecter</a></li>
					
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
</html>